@charset "utf-8";
/* CSS Document */
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea{
    margin:0;
    padding:0;
}
html{
    font-size:26.67vw;
    height:100%;
}
body{
    font-family:"微软雅黑",Arial;
    height:100%;
    display: flex;
    flex-direction:column;
    justify-content: center;

}
body::-webkit-scrollbar{
    display: none;

}
a{
    text-decoration:none;
}
ul,ol{
    list-style:none;
}
img{
    border:none;
}

/*中部区域*/
.center{
    width:100%;
    -webkit-flex:1;
    overflow-y:auto;
    overflow-x: hidden;
    background: #f5f5f5;
}
.center::-webkit-scrollbar{
    display: none;
}
.center .reg{
    height:2.2rem;
    background: #feeae3;
}
.reg .reg_top{
    height:0.59rem;
    display: flex;
    padding-top: 0.44rem;
}
.reg_top img{
    width:0.59rem;
    height:0.59rem;
    margin-left: 0.15rem;
    margin-right: 0.17rem;
}
.reg_top span{
    font-size:0.17rem ;
    color: #000000;
    line-height: 0.59rem;
}
.reg .reg_bot{
    width:3.56rem;
    height:1.07rem;
    background: #6d6968;
    margin-left: 0.1rem;
    margin-top: 0.09rem;
    border-top-right-radius: 0.08rem;
    border-top-left-radius:0.08rem ;
}
.reg_bot .selvip{
    height:0.4rem;
    border-bottom: 1px solid #706c6b ;
    display: flex;
    padding-left: 0.08rem;
    padding-right: 0.08rem;
}
.selvip  .enjoy{
    font-size: 0.13rem;
    color: #fffcd0;
    margin-right: 0.8rem;
    margin-top: 0.1rem;
}
.selvip  .enjoy .vipA{
    font-size: 0.16rem;
    margin-right: 0.11rem;
    font-style: italic;
}
.selvip .curr{
    display: inline-block;
    width:0.81rem;
    height:0.19rem;
    border-radius: 0.1rem;
    background: #f2d287;
    font-size: 0.1rem;
    color:#453618;
    line-height: 0.19rem;
    text-align: center;
    margin-top: 0.11rem;
}
.curr img{
    margin-left: 0.05rem;
    margin-top: 0.02rem;
}
.reg_bot .selvip_lists{
    height:0.67rem;
    display: flex;
    -webkit-justify-content: space-around;
}
.selvip_lists .selvip_list{
    width:0.6rem;
    height:0.66rem;
    font-size: 0.08rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: space-around;
    align-items: center;
}
.selvip_listT img{
    width:0.25rem;
    height:0.25rem;
}
.selvip_listB span{
    font-size: 0.06rem;
    text-align: center;
}
/*余额*/
.center .remainder{
    width:3.55rem;
    height:0.75rem;
    background: #ffffff;
    margin-left: 0.1rem;
    margin-top: 0.18rem;
    border-radius: 0.04rem;
    display: flex;
    -webkit-justify-content: space-around;
    align-items: center;
}
.remainder .remainder_list{
    width:0.5rem;
    height: 0.6rem;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: space-around;
    align-items: center ;
    margin-top: 0.1rem;
}
.remainder_list img{
    width:0.02rem;
    height: 0.22rem;
}
.remainder_list .remainder_listT{
    display: flex;
    font-size:0.12rem ;
    color:#3d3d3d ;
}
.remainder_listT .tdol{
    font-size: 0.06rem;
}
.remainder_list .remainder_listB{
    display: flex;
    font-size: 0.11rem;
    color: #545454;
}
/*我的订单*/
.center .order{
    width:3.21rem;
    height:1.39rem;
    background: #ffffff;
    margin-left: 0.1rem;
    margin-top: 0.11rem;
    border-radius: 0.04rem;
    padding:0 0.17rem;
}
.order .order_top{
    height:0.46rem;
    display: flex;
    -webkit-justify-content: space-between;
}
.order_top .order_topL{
    font-size: 0.2rem;
    color: #000000;
    line-height: 0.46rem;
}
.order_top .order_topR{
    font-size:0.11rem ;
    color:#989898 ;
    line-height: 0.46rem;
}
.order .order_bot{
    height:0.92rem;
    display: flex;
    -webkit-justify-content: space-between;
    align-items: center;
}
.order_bot .order_list{
    width:0.54rem;
    height:0.92rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order_list .order_listT{
    display: flex;
}
.order_list .order_listT i{
    font-size: 0.22rem;
    color: #fd4cb4  ;
    margin-top: 0.18rem;
    margin-bottom: 0.15rem;
}
.order_list .order_listB{
    display: flex;
}
.order_list .order_listB span{
    font-size: 0.1rem;
    color: #393939;
}
/*轮播图*/
.center .carousel{
    width: 3.65rem;
    height:0.9rem;
    margin-left:0.1rem ;
    margin-top: 0.1rem;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    -webkit-justify-content: flex-start;
}
.carousel::-webkit-scrollbar{
    display: none;
}
.carousel img{
    width:1.6rem;
    height:0.9rem;
    margin-right: 0.1rem;
    flex-shrink: 0;
}
/*我的服务*/
.center .server{
    width:3.55rem;
    background: #ffffff;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
    border-radius: 0.04rem;
    margin-bottom: 0.1rem;
}
.server .server_top{
    height:0.55rem;
    padding-left: 0.19rem;
}
.server_top h3{
    font-size: 0.17rem;
    color: #000000;
    line-height: 0.55rem;
    font-weight: 100;
}
.server .server_bot{
    height:3rem;
    display: flex;
    -webkit-justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.server_bot .server_list{
    width:0.91rem;
    height:0.85rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.server_list .server_listT{
    display: flex;
}
 .server_listT i{
    font-size:0.28rem ;
    margin-top: 0.16rem;
    margin-bottom: 0.14rem;
}
.server_list:nth-child(1) .server_listT i,
.server_list:nth-child(2) .server_listT i,
.server_list:nth-child(3) .server_listT i{
    color: #f4868a;
}
.server_list:nth-child(4) .server_listT i,
.server_list:nth-child(5) .server_listT i,
.server_list:nth-child(6) .server_listT i{
    color: #ffcb32;
}
.server_list:nth-child(7) .server_listT i,
.server_list:nth-child(8) .server_listT i,
.server_list:nth-child(9) .server_listT i{
    color: #8482ff;
}
.server_list .server_listB{
    display: flex;
}
.server_list .server_listB span{
    font-size:0.12rem ;
    color:#818181 ;
}
/*底部区域*/
.bottom{
    width:100%;
    height:0.51rem;
    display: flex;
    justify-content: space-around;
}
.bottom .bottom_list{
    width:0.4rem;
    height:0.51rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 0.06rem;
}
.bottom_list i{
    font-size: 0.24rem;
    color: #c6c6c6;
}
.bottom_list span{
    font-size: 0.07rem;
    color: #aaaaaa;
}
.bottom_list:nth-child(5) i{
    color: #fd71c0;
}
.bottom_list:nth-child(5) span{
    color: #fd71c0;
}
.bottom .bottom_list:nth-child(4){
    position: relative;
}
.bottom_list:nth-child(4) .count{
    position: absolute;
    top:0.05rem;
    left:0.25rem;
    width:0.13rem;
    height:0.13rem;
}